*{
    margin:0;
    padding:0;
}

body{
    background:#e6e6e6;
}

header, .main, footer {
    width:90%;
    max-width:1000px;
    margin:20px auto;
}

header nav {
    background:#528FD5;
    overflow:hidden;
}

header nav ul {
    list-style:none;
}

header nav ul li {
    float:left;
}

header nav ul li a{
    padding:10px 20px;
    display:block;
    color:#fff;
    text-decoration:none;
}

header nav ul li a:hover {
  background:#75ACEC;
}

.main .articles {
    width: 70%;
    margin-left: auto;
    float: left;
}

.main .articles article{
    padding:20px;
    background:#fff;
    margin-bottom:20px;
}
aside {
    width:30%;
    background:#A7D8F6;
    float: left;
    padding:20px;
    box-sizing: border-box;
}

footer {
    background:#000;
    color:#fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}

p, ul, h2, h3,h1{
  font-family: cursive;
  font-size:16px;
}

h1,h2,h3 {
  text-align: center;
}

div img {
  width:260px;
  padding:20px;
}
